[2020-07-09 22:14] msal4 opened #1 "Colorscheme looks weird in Go"
### After enabling embark, this is how it looks in a Go file.
<img width="1440" alt="Screen Shot 2020-07-10 at 1 11 29 AM" src="https://user-images.githubusercontent.com/30052233/87095962-75ec2480-c24a-11ea-94bd-a866bc0ee0be.png">

### Is this how it's supposed to look?

[2020-07-10 02:43] skbolton commented on #1
Looks like you don't have truecolor turned on. Did you `set termguicolor` in your vimrc

[2020-07-10 09:26] msal4 commented on #1
Yes, it looks the same.

[2020-07-10 16:54] skbolton commented on #1
what terminal are you using?

[2020-07-10 18:30] msal4 commented on #1
iTerm

[2020-07-10 18:30] msal4 commented on #1
iTerm

[2020-07-10 18:34] skbolton commented on #1
Does the syntax look weird in all filetypes? Like markdown and whatnot?

[2020-07-10 18:35] skbolton commented on #1
Also has your vimrc changed from whats [here](https://github.com/msal4/vimrc)? You don't have termguicolors enabled in that rc

[2020-07-10 18:54] msal4 commented on #1
After setting `termguicolors` it looks different but the comments are highlighted. are they supposed to look like this?

<img width="1440" alt="Screen Shot 2020-07-10 at 9 33 45 PM" src="https://user-images.githubusercontent.com/30052233/87187291-99b87480-c2f5-11ea-9187-33993de22c7b.png">

yes it looks the same on other types of files
<img width="1154" alt="Screen Shot 2020-07-10 at 9 34 59 PM" sr

[2020-07-10 21:26] skbolton commented on #1
Those are italics. You can either follow the guide [here](https://medium.com/@dubistkomisch/how-to-actually-get-italics-and-true-colour-to-work-in-iterm-tmux-vim-9ebe55ebc2be) to get italics and true color working. Or disable italics in the theme by setting `let g:embark_terminal_italics = 0`. These are details I an working on documenting better for this repo.

[2020-07-10 22:45] msal4 commented on #1
thanks, it's looking good now:)

[2020-07-10 22:45] #1 closed

[2020-08-05 01:03] imajes opened #4 "line number contrast isn't fantastic"
Is there any chance to make an option to boost the contrast of the line numbers? :)

thanks, love the scheme. :)

[2020-08-05 12:20] unknowledgeable opened #5 "Airline theme colors go out of sync after using CoC in neovim"
I'm getting some strange behaviour with this airline theme where it doesn't seem to refresh the colours correctly after inserting an emmet abbreviation using CoC. I'm using the [example vim config found here](https://github.com/neoclide/coc.nvim)

Expected:
<img width="848" alt="Screenshot 2020-08-05 at 13 51 49" src="https://user-images.githubusercontent.com/43091756/89409779-e3dd1c00-d722-11ea-8

[2020-08-07 20:08] skbolton commented on #4
Yeah this is one that I figured would come up. I think a configuration to boost the value by a percentage would be a good option.

[2020-08-08 00:59] skbolton commented on #4
So I am leaning towards offering three variants on this. Let me know what you think about these colors. The soft variant would be what it is today. The default variant would be `#585273` and the hard variant would be `#716B8C`.

To try any of these out you can call `hi LineNr guifg=#585273` anywhere after you have set the embark colorscheme, and of course you would just change that color code to w

[2020-08-08 01:03] skbolton commented on #4
Here are quick previews of the above codes though

Soft (current)
<img width="776" alt="soft" src="https://user-images.githubusercontent.com/13260877/89698841-9a3a3000-d8e0-11ea-9e1d-48eb85127bae.png">

Default (10% brighter)
<img width="788" alt="default" src="https://user-images.githubusercontent.com/13260877/89698848-a625f200-d8e0-11ea-811d-0856cec2252a.png">

hard (20% brighter)
<img width="78

[2020-08-08 01:07] skbolton commented on #5
That is very weird behavior. I will have to look into this and do my best to fix. I am not an airline user though so I might have to request that you help me come to a resolution on this.

[2020-08-08 07:46] unknowledgeable commented on #5
@skbolton strange indeed, is there a theme you based yours on that I could test to see if I get the same behaviour?

[2020-08-08 16:46] skbolton commented on #5
@unknowledgeable i basically pulled the challenger deep theme airline theme into the code base and adjusted the palette to match embark

[2020-08-09 01:24] unknowledgeable commented on #5
@skbolton I tested the challanger deep theme and it seems to work fine, odd. Had a quick scan through a diff of embark and challenger_deep but couldn't find anything obvious, but was pretty hard to see any out of place punctuation in the diff!

Might be worthwhile going through the process of replacing colours in [airline's default "dark" theme instead](https://github.com/vim-airline/vim-airline/b

[2020-08-09 18:39] skbolton commented on #5
Yeah I think that's a good idea. Also I wouldn't mind keeping all the comments and everything in that example. I think it will help me and anyone else out later down the road to make fixes and contributions.

[2020-08-10 16:58] imajes commented on #4
I like default. what's doing your active line-highlighting?

[2020-08-10 17:31] skbolton commented on #4
I have created the branch `linenr-contrast` which changes the linenr to be that default color if you want to point your packager to that branch.

As far as the cursorline that is configured in the theme you just have to turn it on in vim `set cursorline`

[2020-08-11 14:40] unknowledgeable commented on #5
Update on this, I had a mess around with the default theme by replacing the colours with the closest matches from embark.vim and the result wasn't great:

<img width="640" alt="Screenshot 2020-08-11 at 16 25 02" src="https://user-images.githubusercontent.com/43091756/89910365-6a48a080-dbf0-11ea-91a9-d91d7f7d2a61.png">

I much prefer the original embark one, when it works!

I'm not sure how you wan

[2020-08-11 16:29] skbolton commented on #5
No sync issues when you did that though?

[2020-08-12 10:28] unknowledgeable commented on #5
Nope all working fine as far as I can tell!

[2020-08-12 11:09] unknowledgeable opened #6 "MatchParen difficult to see"
I've had to add this to my vimrc:

[code]
Couldn't remember the names of these colours so used Hex values I saved from your reddit post. Might be nice to add a chart of colors and their names (+terminal colors) to your readme and/or a mention of `:so $VIMRUNTIME/syntax/hitest.vim` and similar.

[2020-08-12 19:29] skbolton commented on #6
Yeah I need to add some more details around the palette choice to the readme. I am also planning on pulling this scheme into an organization so that I can add all the other ports. Similar to what the nord colorscheme does.

As far as your change above it seems you are changing a color and then flipping the bg and fg? Right now the match paren bg is the same as the editor and the fg is purple. Abov

[2020-08-12 19:30] skbolton commented on #5
Okay I will try and make time in the next few weeks to use the template like you did above but get the colors to align with what I have in the current theme.

[2020-08-12 22:31] unknowledgeable commented on #6
Just realised this may be a result of using [rainbow_parentheses](https://github.com/junegunn/rainbow_parentheses.vim) and that causing me the trouble! The colours would have been easier to distinguish if they weren't all different. Apologies for hassling you unnecessarily.

Organization sounds cool though!

[2020-08-12 22:31] #6 closed

[2020-08-14 14:57] jose4125 opened #7 "I'm getting an error with airline"
airline doesn't take the embark color theme, so i'm adding `let g:airline_theme='embark'` in my init.vim, i'm using nvim
could you help me how I can figure it out?

the following is the  error
[code]

[2020-08-14 15:42] skbolton commented on #7
I hastily ported the airline theme from another colorscheme and there is a few issues with it. I am not an airline user so they didn't immediately come up. As part of the work #5  I am probably going to completely rewrite it. I will follow up with you to verify that doing so fixes your issue also. I might also ask that you help me test changes if that's alright.

[2020-08-17 23:39] pyrho opened #9 "g:terminal_color_8 too dark"
👋 ,

I'm not really sure how this color  thing works, but the 8th terminal color is a bit too dark to be usable, I'm not sure if  this issue is specific to my setup or not, maybe you can shed some light.

See the following screenshot:
<img width="1679" alt="Screenshot 2020-08-18 at 01 28 44" src="https://user-images.githubusercontent.com/145502/90454107-93869680-e0f2-11ea-9176-2fdcd3e4cfb5.png">
(

[2020-08-17 23:53] pyrho opened #10 "Sharing: Kitty terminal embark theme config file"
Here is a theme file for the [kitty](https://sw.kovidgoyal.net/kitty/) terminal emulator that matches colors from embark.
[code]

It looks like this:
<img width="1104" alt="Screenshot 2020-08-18 at 01 47 37" src="https://user-images.githubusercontent.com/145502/90454918-d8133180-e0f4-11ea-9418-f7a7777d486d.png">

Maybe this could be an entry in the wiki ?

[2020-08-18 00:00] skbolton commented on #10
In the next few days I am going to move this repo to the `embark-theme` organization that way I can host all the ports in one spot. I so far have a kitty theme, spicetify theme, and a bashtop theme on top of the vim theme

[2020-08-18 00:01] skbolton commented on #10
I don't use tabs in Kitty though so I might have to steal that tab configuration you have there. Look out for the organization and that separate repo.

[2020-08-18 00:06] skbolton commented on #10
Sneak Peek! :)
![DeepinScreenshot_select-area_20200817180629](https://user-images.githubusercontent.com/13260877/90455812-48e62980-e0b4-11ea-8f0f-2ba7c5e90d00.png)

[2020-08-18 00:29] skbolton commented on #4
In the end I have decided that I don't want to have too much configuration in this project. Also since users can always override I would rather go with defaults that work for me and for others. This is resolved in #11 by changing the Eclipse color to #585273

[2020-08-18 00:29] #4 closed

[2020-08-18 00:32] skbolton commented on #10
Sorry for my blasting of comments here 😄  . I went ahead and created the repo for the kitty fork [here](https://github.com/embark-theme/kitty). Feel free to open a PR there with what you have here.

[2020-08-18 00:34] pyrho commented on #10
Great initiative ! I'll close this issue then.

ps: cool setup !, what's the "top" utility you're using on the left there ?

[2020-08-18 00:34] #10 closed

[2020-08-18 00:35] skbolton commented on #10
Thats bashtop! Easily the prettiest terminal application output I have seen

[2020-08-18 00:38] pyrho commented on #10
fuck yea, those GUI folks have nothing on bashtop (:

[2020-08-18 09:09] unknowledgeable commented on #9
I agree with you on this. I've changed that color to `#8478BE` in my terminal config (not an official embark color, just used the brightness slider in HSB to get to something I thought worked).

@skbolton what are your thoughts?

[2020-08-18 09:34] unknowledgeable opened #12 "Sharing: iTerm2 color theme config file"
Here's the iTerm2 color theme file if you want that too

[Embark.itermcolors.zip](https://github.com/embark-theme/vim/files/5089462/Embark.itermcolors.zip) (zipped because github doesn't like the .itermcolors extension for some reason)

iTerm has a few extra colours for their featureset but I disabled them all to keep it strictly based on your reddit post colour names. Can change any and all if ne

[2020-08-18 11:42] pyrho commented on #12
@skbolton created an org for embark ! https://github.com/embark-theme, once he gets to creating a project for iTerm you could submit it there.

[2020-08-18 16:13] imajes commented on #4
@skbolton sounds more than reasonable to me. i'm always a fan of documenting it, to help others in the future, but gh search is pretty decent now, so that's not a major issue.

[2020-08-18 17:04] pyrho commented on #12
Totally unrelated but I'm not sure where to ask this; I created a theme for [k9s](https://github.com/derailed/k9s) too, @skbolton if you could create a repo in the org for that too I'll submit a PR there 🙏
Thanks.

It got me thinking that it might be a bit cumbersome to handle the themes for each app in a separate repos, food for thought.

[2020-08-18 17:58] skbolton commented on #4
@imajes i am working on a system to produce a change log so that users can undo things where they feel that the theme drifted in their expectations. Would you feel that would help?

[2020-08-18 20:25] skbolton commented on #12
@pyrho There is a lot to figure out with the new organization. I don't mind adding a lot of ports, in fact I think it would be cool if the theme had very widespread usage in things. But I also don't want to drown in issues and tickets for things that I don't use or wouldn't know how to support. So far things have been going great and I am happy with the response my little vim theme has received! I

[2020-08-18 20:28] skbolton commented on #12
@unknowledgeable for now I will create a repo for iterm that we can use for what you have here. But the lighter gray color (eclipse) in the theme has moved from to #3E3859 to #585273. Can you just make sure that change gets into the iterm palette.

[2020-08-18 21:25] unknowledgeable commented on #12
@skbolton updated to reflect that change
[Embark.itermcolors.zip](https://github.com/embark-theme/vim/files/5092851/Embark.itermcolors.zip)
<img width="545" alt="Screenshot 2020-08-18 at 23 06 00" src="https://user-images.githubusercontent.com/43091756/90565574-69db7700-e1a7-11ea-86e7-daa83f31ea76.png">

That look better to you? Any opinions on the iTerm specific things like clickable link colours

[2020-08-19 11:16] pyrho commented on #12
Very cool indeed !

@unknowledgeable I'd also be interested in your bat/fzf themes :)

[2020-08-19 12:04] unknowledgeable commented on #12
For fzf I just did this and it looks good to me, but I've literally just been hacking around without fully knowing what I'm doing trying to get it all to work on my setup, so it's pretty messy spaghetti on my end:

[code]
I also added this to make the fzf floating window border cyan instead of orange:

[code]

I did have some trouble with getting the vim terminal colours to work and then work with

[2020-08-19 12:38] unknowledgeable commented on #12
@pyrho looks like it's[ a big faff ](https://github.com/sharkdp/bat/tree/master/assets)getting external themes working with bat, you have to make a sublime-text theme, use sublime to convert it to the correct format and then recompile bat with the new theme etc. Not sure if it's worth the effort it you have to do that every time you get an update. Unless I'm misunderstanding something there.

They

[2020-08-19 17:09] skbolton commented on #12
For fzf themes I would suggest configuring it in your terminal. That way when you use it there or in vim the theme applies. I use skim mostly but a friend of mine who also uses embark as a theme has this in their rc.

[code]

[2020-08-19 20:30] skbolton commented on #9
@pyrho I think that `bg_subtle` makes a lot of sense there. Especially since it's contrast was bumped recently. Feel free to do a PR. or I can get to it by the weekend.

[2020-08-20 17:42] #9 closed

[2020-08-24 00:07] smithbm2316 commented on #12
@skbolton I have used @unknowledgeable 's iTerm theme to move the colors into a json file: [embark-json.zip](https://github.com/embark-theme/vim/files/5115213/embark-json.zip) for convenience. I am using it to update my Windows Terminal theme. If the colors here are correct and it would be helpful for you, I'd be happy to upload a Windows Terminal colorScheme for people using the new Windows Termi

[2020-08-28 01:19] skbolton commented on #12
@unknowledgeable @smithbm2316 for now I will create separate repos for you to make PR's against. At some point down the line I will archive those repos when I have the site up and running.

My plan for ports that are just a simple file that needs to be copied and pasted, like terminal themes, is to just have them published as part of the site. I need to package up the palette and then write the lo

[2020-08-28 01:23] skbolton commented on #12
Repos created closing this

@unknowledgeable @smithbm2316 Can you both help me out and be sure to include screenshots in your PRs? Only rule so far is that screenshot only shows the system and no desktop elements. Thanks guys!

[2020-08-28 01:23] #12 closed

[2020-08-30 00:09] smithbm2316 commented on #12
Thanks for creating the repos! I will go ahead and add a PR for the Windows Terminal theme (along with a screenshot) within the next day and a half. Ended up having a busy week of work so I'm catching up on a bunch of tasks on my to do list today and tomorrow.

[2020-09-02 18:06] unknowledgeable commented on #12
Apologies for the delay, had a busy week and had to properly learn git and github to do this so was a bit slow to get going! Hope the PR is ok!

[2020-09-06 01:12] unknowledgeable opened #14 "Image processor - suggestion for if and when you make a website"
Not sure where to post suggestions and ideas for things like this but thought this was too cool to not make you aware of.

I just found [this image processig tool](https://ign.schrodinger-hat.it/) someone's made for the Nord theme and thought it was pretty awesome. It basically applies the nord palette to any image you give it. Source is all on github so I thought if you do get round to making a N

[2020-09-06 02:48] unknowledgeable commented on #14
Here's an example of an image processed with some of the Embark colours.

![scraper_processed](https://user-images.githubusercontent.com/43091756/92317001-9be83800-eff3-11ea-9042-304a684d931f.jpg)

[2020-09-07 13:15] skbolton commented on #14
This is really awesome. I am going to have to play around with some photos. I like having a space theme so I might try some space photos

[2020-09-16 17:40] unknowledgeable commented on #5
So in my rewrite I've got it looking like this so far and thankfully it's no longer bugging out:

![ALL3](https://user-images.githubusercontent.com/43091756/93372466-d6e83800-f84b-11ea-97aa-456d84938fb3.png)

What I've done:

* changed it so that unfocussed/inactive buffers are more obviously not in focus
* used the purple colours that used to indicate inactive buffers for the command colours
* ad

[2020-09-20 02:55] skbolton commented on #7
@jose4125 can you pull and see if this error has been resolved?

[2020-09-20 10:52] day4me opened #16 "Question: What is the font used in README screenshot?"
I really like the font used in this screenshot https://github.com/embark-theme/vim/blob/master/embark-screenshot.png
Can someone tell me what's the name of this font?

[2020-09-21 01:11] tom-on-the-internet commented on #16
I believe it's Operator Mono. A paid font.

[2020-09-21 04:11] skbolton commented on #16
Yes it is operator mono patched with ligatures.

[2020-09-21 04:11] #16 closed

[2020-09-21 09:31] hlidotbe opened #17 "Sharing: alacritty theme"
Hi,

To complete the collection here's a port of the kitty theme for alacritty:

[code]

Looks like this:

![image](https://user-images.githubusercontent.com/193949/93751782-eaa1ee80-fbfd-11ea-922b-58f084dff353.png)

[2020-09-21 14:55] reobin commented on #17
Good stuff @hlidotbe !

There should be a list of those on the readme (`kitty`, `alacritty`, `iTerm2`, `tmux`, etc.)

Check out what [iceberg.vim has done](https://github.com/cocopon/iceberg.vim#terminal-emulators)

[2020-09-21 17:19] reobin commented on #17
@hlidotbe Did you create this? You should create a repo so that it can be linked

[2020-09-21 18:56] day4me commented on #16
Thank you

[2020-09-22 05:16] skbolton commented on #17
For really simple theme files (like terminals) the end goal is to generate them in the site that I will eventually create. Until that day I am just creating repos for each theme. I’ll create an alacritty repo

[2020-09-22 05:18] skbolton commented on #17
@hlidotbe if you wanna issue a pr [here](https://github.com/embark-theme/alacritty) for this theme great. If not I’ll get to it in the next few days.

[2020-09-22 06:37] hlidotbe commented on #17
Great thanks! I’ll do that today.

On Tue, 22 Sep 2020 at 07:18 Stephen Bolton <notifications@github.com>
wrote:

Hugues Lismonde

[2020-09-22 15:18] Mastermind497 opened #19 "Include Color Pallette to Expand to other Softwares"

[2020-09-22 19:25] skbolton commented on #19
Yeah this is a work in progress. I want to eventually have a link to the theme site where all the ports can be displayed and the color palette can be displayed. But until then I suppose I could add a palette section to this repo.

[2020-09-23 01:14] #17 closed

[2020-09-25 01:27] skbolton commented on #19
Its no where near remotely done but I have the theme site available here. https://embark-theme.github.io/
My goal is to have a place to show off the different ports and the palette. There will also be some guides and helpful stuff around how to use the palette effectively - which should also make porting easier.

[2020-09-25 05:40] skbolton commented on #14
I think I have decided to go a different direction. For now the site is going to be really simple. I'll upgrade it over time. It's live at https://embark-theme.github.io. Let me know what you think!

[2020-09-25 05:40] #14 closed

[2020-09-25 07:16] #19 closed

[2020-09-25 11:45] unknowledgeable commented on #14
Love the simplicity! Looks great so far! I also really like how clean it is as I'm finding myself getting more and more annoyed with websites making everything move around or menus taking up half my screen when I just wanted to scroll away from it.

I assume you're planning to do some of the following but I'd like to see:

- screenshots/examples of the ports
- some way of showing examples of commo

[2020-09-25 13:42] j0ker70 opened #22 "embark not found"
I have installed embark using vim-plug. I have put it inside my vimrc. But everytime I open vim, it shows this error

[code]

But, when I am inside vim, and then use the command mode to select embark as my colorscheme, then it works.

My .vimrc file:

[code]

I am using VIm 8.1 and my OS is Ubuntu 20.04.

[2020-09-25 15:44] #22 closed

[2020-09-25 15:49] skbolton commented on #22
Did you close this because you resolved it?

[2020-09-25 15:50] skbolton commented on #14
Yes to all of the above

[2020-09-25 15:50] j0ker70 commented on #22
Yes, here's the solution: https://vi.stackexchange.com/a/27467/23558

[2020-10-02 17:38] reobin opened #24 "Disabling italics"
Hi!

I've been using the color scheme for the past weeks, and absolutely love it, but I can't seem to disable italics.
Is `let g:embark_terminal_italics = 0` supposed to work? Or is there a more specific option to disable italicized comments for example?

Thanks

[2020-10-02 17:59] skbolton commented on #24
Crazy timing, I just discovered last night that this isn’t working. I ported the ability to toggle italics from another repo and apparently it didn’t handle it the best. Hang tight I’ll try to fix this during the weekend.

[2020-10-02 18:26] skbolton commented on #24
Actually @reobin can you help me by testing out the `italics-fix` branch and see if it fixes the issue for you? You should only need to have that `g:embark_terminal_italics = 0` line you mentioned previously for it to work. I tested locally but I always prefer to get confirmation on others systems first.

[2020-10-02 19:01] reobin commented on #24
@skbolton Works perfectly on my end both in and out of tmux.

I'll keep using that branch until the fix is live.

Thanks for the quick response!

[2020-10-02 19:08] skbolton commented on #24
Merging now

[2020-10-02 19:21] #24 closed

[2020-10-16 12:37] pyrho opened #26 "Stack overflow on `maybe_italic` function"
<img width="915" alt="Screenshot 2020-10-16 at 14 36 09" src="https://user-images.githubusercontent.com/145502/96258962-5d5b7b00-0fac-11eb-836f-4f1c99d36b52.png">

[2020-10-16 17:18] pyrho commented on #9
👋 ,

Just updated to the latest version and it seems this change has been reverted in https://github.com/embark-theme/vim/commit/406a29ca72eb6c85495fbb92856a6bcd4f51b043 `Fix terminal colors use old palette color`
What happened ? (:

[2020-10-16 18:26] skbolton commented on #9
@pyrho sorry this keeps happening to you. I don't have a way in my setup to test this well. I did a big overhaul of the theme and this seems to have gotten reverted. I will push a fix now

[2020-10-16 18:27] skbolton commented on #9
It will be a different color than before, let me know if its contrast is better.

[2020-10-16 18:33] #26 closed

[2020-10-16 21:23] pyrho commented on #9
@skbolton no worries! Just updated, it looks perfect thanks for the quick update.

[2020-10-23 16:38] zer0yu opened #28 "[features] Expect a sublime text 3 or vscode version of this theme"
I really like this theme and hope to update the theme of the Sublime version or vscode version soon

[2020-10-24 06:31] skbolton commented on #28
I will create a repo for it once you think you are ready

[2020-10-24 14:53] zer0yu commented on #28
awesome !

[2020-10-30 00:09] #28 closed

[2021-01-19 00:17] pavalos6401 opened #30 "Sharing: made a port for vscode"
It's not the best, and it is my first time making a vscode extension, but I thought maybe I could hand it off and someone could take it from here. In any case, I love the theme, keep up the great work!

Links:
* [Marketplace link](https://marketplace.visualstudio.com/items?itemName=pavalos6401.embark-theme-vscode)
* [Github link](https://github.com/pavalos6401/embark-theme-vscode)

[2021-01-19 00:19] pavalos6401 commented on #30
I could also help maintain it. Although I am sort of inexperienced, I'd love to learn and get some hands on experience contributing to projects

[2021-01-20 18:05] skbolton commented on #30
Thanks for taking initiative. Work on a vscode port is long overdue. To make it easier to find embark themes I am hoping to keep them under the embark github organization. If you'd like I can create the repo and you can create a PR into it.

It looks like this is a good start but I would prefer that if it gets merged at this point it gets marked as "Work in Progress" since it looks like there is m

[2021-01-20 20:17] pavalos6401 commented on #30
Hi @skbolton ! Yeah, if you make a repository I could make a PR. Would you want me to delete my extension off of the marketplace after that? or would renaming it be enough -- to avoid further confusion about which one is the official one (I was thinking of renaming mine to unembark and use it to kinda make my own spin of the scheme)? I would also rename it on my github repository if that's okay (i

[2021-01-21 00:15] skbolton commented on #30
Repo has been created [here](https://github.com/embark-theme/vscode). Feel free to open a PR there.

Also definitely keep a fork of embark if you would like to. It would be nice to have the name be available for the main branches of the theme. If you are willing to give up the name then we would just need to figure out how vscode handles transfering names to new packages and all that.

[2021-01-21 03:30] pavalos6401 commented on #30
I have made a pull request, I added some comments there; I basically just removed my original extension (which should free up naming and remove the whole transferring issue)

[2021-01-21 03:30] #30 closed

[2021-02-12 12:28] kryzar opened #33 "[Question] What font do you use in your screenshots?"
Hi,

What font are you using in your screenshots, for example [here](https://github.com/embark-theme/vim/blob/master/embark-screenshot.png)?

Thanks!

[2021-02-12 17:39] skbolton commented on #33
I use [kitty](https://sw.kovidgoyal.net/kitty/index.html) as my terminal (there's also an embark theme for it). One of my favorite features is the font support. It allows you to define a specific font for every font style (bold, italic, etc) but also a fallback font for certain unicode ranges. So I am using a lot of fonts here. I have [roboto mono nerd font](https://github.com/ryanoasis/nerd-fonts

[2021-02-12 19:22] skbolton commented on #33
Feel free to ask any other questions but I will close this for now

[2021-02-12 19:22] #33 closed

[2021-02-13 12:36] kryzar commented on #33
Thanks a lot for this detailed answer!

[2021-02-27 02:05] hrqmonteiro opened #35 "How did you configured your tabline as in the screenshot?"
It is very nice, i would like to know, please.

[2021-02-28 04:51] skbolton commented on #35
Thanks. I have since switched status lines, but the one I’m the photo is lightline. If you look at my newest commits in my dotfiles I don’t have the config anymore. But here is a commit that still has the lightline config if you want to copy anything. https://github.com/skbolton/titan/blob/ed3e88df0dde5b6da8ae25a2efee7e4ae85c111d/nvim/nvim/status-line.vim

Also lightline is configured colorwise by

[2021-03-22 13:19] zlksnk opened #37 "JSX tags are italicized"
JSX tags are italicized when `embark_terminal_italics` is turned on. Below is a screenshot of a TypeScriptReact (.tsx) file.

![image](https://user-images.githubusercontent.com/26769888/111995764-88577700-8ad6-11eb-9cfe-21f0a37fa594.png)

Installed plugins that might have affected this behaviour:
- [Vim Polyglot](https://github.com/sheerun/vim-polyglot)
- [NVim LSP](https://github.com/neovim/nvim-

[2021-03-22 19:48] skbolton commented on #37
Looks like vim-polyglot binds the `jsxClosePunct` they define to `Comment` highlight which gives the italic. I should be able to fix this pretty quickly.

[2021-03-28 13:08] dmshvetsov opened #38 "JavaScript: await and function name are the same color"
Hi! I liked this theme and decided to give it a try.

I have been using it for a minute or so, and I found it strange to read async / await JavaScript code. Please take a look:

<img width="757" alt="Screen Shot 2021-03-28 at 10 57 33 PM" src="https://user-images.githubusercontent.com/3574904/112753068-cd037680-8fde-11eb-81af-e3023579b048.png">

`await` is a keyword and `graphql(` in a function in

[2021-04-20 20:35] skbolton commented on #38
Hi @dmshvetsov. Sorry for the last response on this. Ever since I have moved embark to its own organization I haven't been the best with notifications since they no longer show up in main account.

The theme definitely needs some tweaking to cover javascript better. I don't do a lot of javascript coding these days and so I haven't seen the painpoints.  I would love any help that can be offered on

[2021-04-20 20:41] skbolton commented on #37
@zlksnk just wanted to ping you to let you know I haven't forgotten about this. Just had a crazy few weeks shipping a big feature at work. I would appreciate any help you could offer to help fix this, but I should also be able to get to this in the next few weeks.

[2021-04-21 06:11] skbolton commented on #38
@dmshvetsov Decided to jump on and start working on this. Can you help me out and run the `js-async-await` branch and let me know what you think?

[2021-04-21 06:26] skbolton commented on #37
@zlksnk I have pushed a branch that is a scratchpad for adjusting and improving javascript/react code. Can you run this branch for a few days and let me know what you think? Branch is `js-async-await`

[2021-04-21 06:29] skbolton commented on #37
I also don't do a lot of javascript coding these days so I might not have all the same plugins as you. For me the changes I made led to this look.

![react](https://user-images.githubusercontent.com/13260877/115506704-6a497780-a238-11eb-8aad-c17e714d1cf2.png)

I have felt like the highlighting in javascript is way too heavy on the reds. I am trying to put more of the greens and blues that I love a

[2021-04-21 06:30] skbolton commented on #38
Here is what on my end the highlight adjustments are looking like
![async-await](https://user-images.githubusercontent.com/13260877/115506944-b694b780-a238-11eb-9216-fdd71948de88.png)

[2021-04-21 06:31] skbolton commented on #38
I have felt like the javascript highlighting is way too heavy on the reds and yellows so I am hopeful to introduce more of the greens and blues that I love about this palette into the rules. Again let me know what you think.

[2021-04-21 11:43] zlksnk commented on #37
I can totally understand that

I’m new to vim that being said I’m able to understand and tweak theme properties. There is a command or a shortcut that tells the token name on which cursor is on, I can’t recall or find it. Do you know the command?

I feel introducing more colors will only make the theme look busy. I’ll rather suggest to give semantic meanings to colors (color A for function names,

[2021-04-21 11:47] dmshvetsov commented on #38
Hi @skbolton 👋 . I'll check it soon 👍

[2021-04-21 16:30] skbolton commented on #37
This function is really helpful. It gives you the name of the highlight group for the thing under your cursor
[code]
Using these groups you should be able to add rules to `colors/embark.vim`

[2021-04-22 06:19] dmshvetsov commented on #38
yea! I like it 👍 👍

@skbolton how about trying to make operators like comparison `===`, `>=` etc. the same color as `if` `async/await`?

for reference:

### before
<img width="904" alt="Screen Shot 2021-04-22 at 4 14 33 PM" src="https://user-images.githubusercontent.com/3574904/115664974-f3ba9000-a385-11eb-80ee-e74b258bda82.png">

### after
<img width="904" alt="Screen Shot 2021-04-22 at 4 13 30 P

[2021-04-22 06:40] dmshvetsov commented on #38
Using it a little more, I no longer think that it's a good idea. I like how it is right now.

[2021-04-22 16:56] skbolton commented on #38
Yeah I actually did that at first and went back on it as well. So glad we came to the same conclusion

[2021-04-25 23:10] skbolton commented on #37
One of my big goals of this theme was to have the perfect levels of contrast so that the important stuff was front and center and less important stuff was still readable without demanding attention. It took a few attempts to get the contrast right for comments which was one of the things that I wanted to have readable without being overbearing.

I am not totally sure that everyone would agree on h

[2021-04-25 23:27] skbolton commented on #37
@zlksnk I already changed my mind on what I previously said. I always thought that html tags where a pain to look at and the more I look at the JSX the more I like the tags fading out. Really makes it look more like function calls which is good. If others complain later I can always reconsider. Closing this.

[2021-04-25 23:27] #37 closed

[2021-04-25 23:28] skbolton commented on #38
Resolved with #39

Closing for now. @dmshvetsov if you find other places where the syntax of javascript can be improved feel free to reach out or create a new issue. You should be able to point back to master branch and see the same changes.

[2021-04-25 23:28] #38 closed

[2021-04-26 05:50] dmshvetsov commented on #38
@skbolton thanks a lot! 🙌

[2021-08-17 17:23] ashrasmun opened #41 "Wrong colors on Ubuntu in Windows Terminal (WSL)"
Hey,

I just installed NeoVim (v0.4.3) and installed the embark theme. I'm using Ubuntu 20.04 LTS inside the Windows Terminal. After invoking `:colorscheme embark` the colors are different from what they should be.

![image](https://user-images.githubusercontent.com/12000269/129772292-0eccd1d8-30db-4382-84e0-63140c43411e.png)

I'm using it already inside GVim and I'm loving it, thank you for your

[2021-08-28 18:54] skbolton commented on #41
What terminal are you using? Looks like either termguicolors isn't turned on or the terminal doesn't support 24but color

[2021-08-28 20:59] ashrasmun commented on #41
I tried using `xterm`, `xterm-256colors`, `xterm-24bit`, `source-256colors`, but all in all, I think I just don't understand how to setup the terminal properly, as when I invoke https://github.com/tmux/tmux/blob/master/tools/24-bit-color.sh I get a blank black space.
![image](https://user-images.githubusercontent.com/12000269/131230871-b993bc0a-1ccc-478e-9504-933324fc6b00.png)

At least 256 colors

[2021-08-29 05:53] skbolton commented on #41
Yeah embark hasn't been back ported to work with 256 colors well. I would suggest going with a terminal that supports 24 bit color such as alacritty or kitty terminal. Once you have that and termguicolors on in (n)vim it should work fine.

[2021-08-29 10:09] ashrasmun commented on #41
Just in case someone finds this thread in the future:

- Lack of colors is a result on Windows Terminal quirk, where `:` cannot be used as a separator, but instead `;` must be used (https://github.com/microsoft/terminal/issues/11075#issuecomment-907702184)
- To enable support of 24-bit colors, I had to add `set termguicolors` to my `.vimrc`

Thanks for help!

[2021-08-29 10:10] #41 closed

[2021-10-14 12:27] gdnand opened #42 "Zathura Port"
I have made a zathura port for this awesome colorscheme, Please check that out if you want to add a zathura port.
https://github.com/gdnand/zathura-embark-theme.git
Thanks!

[2021-10-30 14:44] gdnand commented on #42
I have made a repo complying with your requests,
I can't open a pull request since it's empty:
[Here's the repo](github.com/gdnand/zathura)

[2021-10-31 00:53] skbolton commented on #42
Sorry forgot to to add the initial commit. It's fully ready now

[2021-11-01 14:59] #42 closed

[2021-12-01 06:21] skbolton opened #44 "nvim 0.6.0"
Neovim version 6 just dropped 🎉

With it they have adjusted how the lsp diagnostic highlights work. I am currently verifying that I have configured things correctly on the `nvim0.6.0` branch.

If anyone has the time to point their plugin manager to this branch and help me test things out I would appreciate it. If not I should be able to get this in within the upcoming week.

[2022-01-10 18:08] #44 closed

[2022-04-14 23:28] Varal7 opened #46 "Support for lualine"
Hi,

Love the embark theme.
Could we support https://github.com/nvim-lualine/lualine.nvim?
There is already a PR closed there: https://github.com/nvim-lualine/lualine.nvim/pull/269.

Thanks

[2022-04-25 01:38] skbolton commented on #46
Yeah feel free to open a or here for that.

[2022-08-18 15:34] skbolton commented on #5
Closing as stale. Reopen if issue persists.

[2022-08-18 15:34] #5 closed

[2022-08-18 15:35] skbolton commented on #46
@Varal7 I am going to close this issue. Feel free to open a PR for this.

[2022-08-18 15:35] #46 closed

[2022-08-25 15:09] unbeschwert opened #53 "Possible error in embark.vim"
Hi,

Recently I updated my plugins in neovim and I received an error "Illegal value underdash" when I reopened neovim.

The line [call s:h("DiffText",      {"bg": s:diff_changed, "gui": "underdash"})](https://github.com/embark-theme/vim/blob/57f05ba5fb821573788a5a9d9e888f780c79f68f/colors/embark.vim#L201) appears to be cause.

Perhaps you meant to write 'underline' here ?

[2022-08-27 23:12] skbolton commented on #53
Apologies, `underdash` is an option for me but this could be a situation where it is not cross compatible. Will merge fix for this.

[2022-08-27 23:12] #53 closed

[2022-10-20 07:39] zbraniecki opened #56 "Background is black"
I have nushell+zellij+alacritty+neovim config on MacOS and when I switch to this theme the background of my neovim becomes pitch black which makes the colors stand out very aggressively.

How do I fix that?

[2022-10-20 15:44] skbolton commented on #56
This issue almost always comes down to 24bit color support.

1. Your terminal must support it
2. If you use a multiplexer you have to tell it to turn that feature on
3. In (n)vim you then tell it to turn that on

For your setup
1. Alacritty should support it out of the box so I think you are good there
2. I have no idea on Zellij - I use tmux and could only give advice on setting up in that
3. n(v

[2022-10-20 15:46] skbolton commented on #56
In Zellij what is your `$TERM` environment variable set to?

[2022-10-20 15:51] skbolton commented on #56
You can also run this helper script

[code]

I would run it at every level and make sure you get a smooth gradient of color. So alacritty without zellij, then in zellij, then in neovim without zellij, etc. It should show you where in the chain you have an issue.

[2022-10-23 21:13] zbraniecki commented on #56
Setting `set termguicolors` in init.vim resolved the issue for me. Thank you!

[2022-10-23 21:13] #56 closed